:root {
  --clr-yellow: rgb(255 237 0);
  --clr-white: rgb(254 255 255);
  --clr-black: rgb(10, 10, 10);
  --clr-purple: rgb(203 56 123);
  /* --clr-going: hsl(110 54% 49%); */
  --clr-going: var(--clr-purple);
  --clr-interested: ;
  --clr-undecided: var(--clr-yellow);
  --clr-skip: hsl(56 100% 90%);
  --clr-orange: #f08a4b;
  --clr-blue: #1446a0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

html {
  scrollbar-color: var(--clr-purple) var(--clr-yellow);
}

body {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.5rem, 1rem + 4vw, 2rem);
  line-height: 1;
  background-color: var(--clr-black);
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

a {
  color: var(--clr-white);
  text-decoration: none;

  &.you-are-here {
    text-decoration: underline;
  }
}

main {
  max-width: 100%;
  height: 100svh;
  max-height: 100svh;
  display: grid;

  padding-inline: 0.5em;
  padding-block: 1em;

  grid-template-areas:
    "next"
    "selv"
    "togl"
    "view"
    "nav ";

  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 4em 1em 1em minmax(0, 1fr) 1em;
  gap: 0.25em;
}

.nav {
  margin-inline: auto;
  width: max-content;
  margin-block-end: 2em;

  > :last-child {
    margin-inline-start: 2.5em;
  }
}

.lineup-container {
  width: max-content;
  max-width: 100%;

  height: 100%;

  margin-inline: auto;
}

.lineup {
  text-transform: uppercase;
  font-size: clamp(0.85rem, 0.5rem + 2vw, 1.125rem);

  --row-size: 2.25em;
  --column-size: 3ch;
  --first-row-size: 5.5ch;
  --gutter: 0.25em;

  display: grid;
  grid-template-columns: fit-content(8ch) fit-content(100vw);
  grid-template-rows: var(--first-row-size) 1fr;

  max-height: 75%;

  overflow: auto;

  > .timestamps {
    grid-area: 1 / 2;
  }

  > .venues {
    grid-area: 2 / 1;
  }

  > .events {
    grid-area: 2 / 2;
  }
}

.timestamps {
  display: grid;
  grid-template-columns: repeat(var(--columns), var(--column-size));
  position: sticky;
  top: 0;

  padding-block-end: var(--gutter);

  background-color: var(--clr-black);

  color: var(--clr-white);

  > div {
    rotate: -75deg;
    translate: 0.5em;
    transform-origin: bottom left;
    margin-block-start: auto;
  }

  z-index: 500;
}

.venues {
  display: grid;
  grid-template-rows: repeat(var(--rows), var(--row-size));
  position: sticky;
  left: 0;
  align-items: center;
  text-align: end;

  margin-inline-end: 0.3em;
  padding-inline-end: 0.2em;

  color: var(--clr-yellow);
  background-color: var(--clr-black);

  z-index: 500;
}

.events {
  display: grid;
  grid-template-columns: repeat(var(--columns), var(--column-size));
  grid-template-rows: repeat(var(--rows), var(--row-size));

  position: relative;

  --grid-width-h: 1px;
  --grid-width-v: 1px;
  --grid-color-h: var(--clr-purple);
  --grid-color-v: var(--clr-yellow);

  background-image: linear-gradient(
    var(--grid-color-v) var(--grid-width-v),
    transparent var(--grid-width-v),
    transparent calc(100% - var(--grid-width-v)),
    var(--grid-color-v) calc(100% - var(--grid-width-v))
  );
  background-size: 100% calc(100% / var(--rows));
  background-position: 0 calc(var(--row-size) / 2);
}

.events > .event {
  background-color: var(--clr-yellow);
  color: var(--clr-black);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-block: 0.1rem;

  position: relative;

  &.past {
    opacity: 80%;
  }

  .small {
    font-size: 0.5em;
  }

  .rotate {
    rotate: -90deg;
  }

  &.selected {
    outline: var(--clr-purple) solid 3px;
    outline-offset: 3px;
    z-index: 11;
  }

  &.going {
    color: var(--clr-white);
    background-color: var(--clr-going);
    border: 2px solid var(--clr-yellow);
    scale: 1.1;
    z-index: 10;
  }

  &.interested {
    &::after {
      content: "👀";
      position: absolute;
      top: -0.3em;
      right: -0.5em;
      z-index: 1;
    }
  }

  &.undecided {
  }

  &.skip {
    opacity: 80%;
    background-image: repeating-linear-gradient(
      45deg,
      var(--clr-black),
      var(--clr-black) 0.75rem,
      var(--clr-yellow) 0.75rem,
      var(--clr-yellow) 1.5rem
    );
  }
}

.events .grid-line {
  border-inline: 1px solid var(--clr-purple);
}

.events.time-indicator::after {
  content: "";
  position: absolute;

  top: 0;
  bottom: 0;
  --stroke-width: 4px;
  border-left: var(--stroke-width) dashed var(--clr-white);
  opacity: 90%;
  left: calc(var(--time-indicator-position) - var(--stroke-width) / 2);
  z-index: 499;
  pointer-events: none;
}

.event-info {
  margin-block-start: 0.5em;
  color: var(--clr-yellow);
  text-align: center;

  .event-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.status-updater {
  display: flex;
  gap: 0.2em;

  width: max-content;

  font-size: 0.75em;

  background-color: var(--clr-yellow);
  margin-inline: auto;
  padding-inline: 0.25em;
  padding-block: 0.2em;
  border-radius: 100vmax;

  > button {
    width: max-width;
    padding: 0.2em;
    vertical-align: text-bottom;
    border-radius: 100vmax;
    aspect-ratio: 1;
    background-color: transparent;
    border: 4px solid var(--clr-purple);
  }

  > .current-status {
    background-color: var(--clr-purple);
  }
}

.blackout-box {
  background-color: var(--clr-black);
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
  margin-inline-end: 0.3em;
  padding-block-end: var(--gutter);
}

.day-toggle {
  --label-width: 8ch;
  --toggle-width: 1.5em;
  --gutter: 1em;

  color: var(--clr-white);

  font-size: 0.85em;

  width: max-content;

  display: grid;
  grid-template-columns: var(--label-width) var(--toggle-width) var(
      --label-width
    );
  gap: var(--gutter);
  align-items: center;

  margin-inline: auto;

  > :first-child {
    text-align: end;
  }

  > input {
    display: none;

    &:checked + .day-toggle-indicator {
      > div {
        margin-inline-start: auto;
      }
    }
  }

  .day-toggle-indicator {
    width: 100%;
    aspect-ratio: 5 / 2;

    background-color: var(--clr-yellow);
    border-radius: 100vmax;

    display: flex;
    align-items: center;

    border: 2px solid var(--clr-yellow);

    > div {
      height: 100%;
      border-radius: 100%;
      aspect-ratio: 1;
      background-color: var(--clr-purple);
    }
  }
}

.up-next-event {
  color: var(--clr-yellow);
  background-color: var(--clr-purple);

  padding-inline: clamp(0.75em, 1vw, 2em);
  padding-block: 0.2em;

  max-height: 100%;

  width: clamp(16ch, 100%, 32ch);
  margin-inline: auto;

  overflow-y: auto;

  .up-next-eyebrow {
    font-size: 0.65em;
    color: var(--clr-white);
    opacity: 0.8;
  }

  .up-next-name {
    white-space: nowrap;
  }

  .up-next-time {
    color: var(--clr-white);
  }
}

.marquee {
  --gap: 2em;
  display: flex;
  overflow: hidden;
  gap: var(--gap);
}

.marquee-content {
  flex-shrink: 0;
  min-width: 100%;
  animation: marquee 11s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@media (prefers-reduced-motion) {
  * {
    animation-play-state: paused !important;
  }
}
